@charset "UTF-8";

.adminMenuBar {
	width: 1360px;
	height: 500px;
	padding: 50px; 
	background-color: #d8d8d8;
	margin: 100px auto;
}

.adminMenu {
	width: 400px;
	height: 400px;
	float: left;
	margin: 0 10px;
	border: 1px solid #999;
	background-color: white;
	font-size: 40px;
	line-height: 60px;
	font-weight: 650;
	cursor: pointer;
	text-align: center;
	padding-top: 150px;
}
